name:  Build&Deploy docker container image to docker hub
on:
  push:
    tags: [v*.*.*]

env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: docker.io
  # github.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository }}


jobs:
  publish_docker_image:
    runs-on: ubuntu-latest
    steps:
      - name: checkout the project
        uses: actions/checkout@v2.4.2
      - run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

      - name:  login to docker
        uses: docker/login-action@v2.0.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: build and push docker container image
        uses: docker/build-push-action@v3.0.0
        with:
          push: true
          tags: ${{ env.IMAGE_NAME }}:${{ env.RELEASE_VERSION }}


